.slider-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.slider-wrapper {
    display: flex;
    overflow: hidden;
    height: 205px;
    width: 90%;
    margin: 80px auto;
}

.slider-item {
    /* width: 360px; */
    width: 25%;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    border-right: 0.5px solid black;
    margin: 0 auto;
}


.slide-media {
    width: 100%;
}

.slide-media img {
    width: 100%;
    object-fit: cover;
}

.slider-item>div {
    width: 100%;
    height: 242px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.slider-item div {
    display: flex;
    gap: 10px;

}

.slider-item:last-child {
    border-right: none;
}

.slide-text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: #575855;
    width: 75px;
    cursor: pointer;
}

.slide-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-wrapper {
    position: relative;
    width: 54px;
    height: 54px;
    cursor: pointer;
}

.circle-svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    width: 54px;
    height: 54px;
}

.circle-path {
    stroke-dasharray: 113;
    stroke-dashoffset: 113;
    animation: draw-circle 1s forwards;
}

@keyframes draw-circle {
    0% {
        stroke-dashoffset: 113;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}

@media (max-width: 1769px) {
    .slider-wrapper {
        width: 98% !important;
    }
}

@media (max-width: 769px) {
    .slider-wrapper {
        flex-wrap: wrap;
        overflow: initial;
        row-gap: 30px;
        height: auto;
        margin-left: 0;
        margin-top: 20%;
        width: 100%;
    }

    .slider-item {
        width: 50%;
    }

    .slider-item:nth-child(2) {
        border-right: none;
    }
}

@media (max-width: 668px) {
    .slider-item {
        width: 320px;
    }

    .slider-container {
        position: relative;
        display: block;

    }

    .slider-button-wrapper {
        position: absolute;
        right: 30px;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .slider-button-wrapper button {
        width: 50px;
        height: 50px;
        border: 0.5px solid black;
        border-radius: 50px;
        margin-right: 20px;
    }

    .slider-wrapper {
        flex-direction: column;
        height: 355px;
        margin-left: 0;
        width: 100%;
    }

    .slider-item {
        border-right: none;
        width: 100%;
    }

    .slide-media img {
        height: 300px;
    }

    .see-more {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        display: block;
        width: 100px;

    }
}

@media (max-width: 480px) {

    .slider-container {
        background-color: #fff;

    }

}