.heroWrapper {
    background: url(/hero.png) no-repeat;
    background-size: 100% 100%;
    height: 540px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;

}

.shadowWrapper {
    background: linear-gradient(177deg, rgba(217, 217, 217, 0) 10.24%, #575855 93.18%);
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 40px;
    min-height: 209px;
    position: relative;

}

.heroText {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: #fff;
    width: 400px;
}

.heroButton {
    border: 1px solid #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}

.buttonWrapper {
    margin-right: 15%;
}

@media (min-width: 1910px) {
    .buttonWrapper {
        margin-right: 8%;
    }
}

@media (min-width: 1735px) {
    .buttonWrapper {
        margin-right: 15%;
    }
}

@media (max-width: 1500px) {
    .buttonWrapper {
        margin-right: 17%;
    }

    .heroText {
        margin-left: 25px;
    }
}

@media (max-width: 975px) {
    .herowrapper {
        background-position: center;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .heroWrapper {
        background-position: center;
        height: 300px;
    }

    .buttonWrapper {
        margin-right: 40px;
    }

    .heroText {
        font-size: 24px;
        margin-left: 15px;
    }
}

@media (max-width: 593px) {
    .buttonWrapper {
        position: absolute;
        bottom: -70px;
        border: 1px solid black;
        width: 200px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .heroButton {
        color: #000;
    }
}

@media (max-width: 480px) {
    .heroWrapper {
        background-position: center;
        height: 400px;
    }

    .heroWrapper {
        background-position: center;
        height: 250px;
        position: relative;

    }

    .shadowWrapper {
        justify-content: flex-start;
    }

    .heroBbutton {
        color: #000;

    }

    .heroText {
        font-size: 24px;
        margin-left: 30px;
    }

}