@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --background: #EDECE9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Global CSS */
.w-full {
  width: 100%;
  margin: 0 auto;
}

.w-fixed {
  width: 100%;
  max-width: 1360px;
  margin: 15px auto;

}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.items-center {
  align-items: center;
}

.ml-30 {
  margin-left: 30%;
}

.ml-10 {
  margin-left: 10%;
}

.ml-5 {
  margin-left: 5%;
}

.mt-1 {
  margin-top: 20px;

}

.mb-80 {
  margin-bottom: 80px;
}

.pt-1 {
  padding-top: 40px;

}

.pt-2 {
  padding-top: 80px;

}

h1 {
  font-size: 30px;
}

h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

button {
  background-color: transparent;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
}

/*Global CSS*/
/*Header CSS*/
header {
  height: 160px;

}

.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.header_text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.menu li:hover {
  list-style-type: disc;
}

.contact-info {
  display: flex;
  flex-direction: column;
}


.animation-logo {
  position: fixed;
  top: 13px;
  right: 0px;
  width: 9.1rem;
  height: auto;
  z-index: 1000;
}

/* .logo-mark_path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 0.6s ease;
} */

/* .logo-mark_path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  transition: stroke-dashoffset 0.2s ease-out;
} */


/*Header CSS*/

/*Hero CSS*/
.hero-wrapper {
  background: url(/hero.png) no-repeat;
  background-size: 100% 100%;
  height: 540px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.hero-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  width: 400px;
}

.hero-button {
  border: 1px solid #fff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

/*Hero CSS*/

/*Bio CSS*/
.bio-wrapper, .bio-text-wrapper {
  display: flex;
  justify-content: flex-start;
}

.bio-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  width: 455px;
  color: #363636;
  margin-right: 12%;
}

.bio-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;

}

.bio-position {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  padding-bottom: 30px;
}

/*Bio CSS*/
/*Company CSS*/
.company-wrapper {
  display: flex;
  position: relative;
  min-height: 535px;

}

.company-text-wrapper {
  width: 35%;
  margin-left: 15px;
}

.company-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #363636;
  padding-top: 10px;
  padding-right: 50px;

}

.image-wrapper {
  position: absolute;
  right: 0;
  width: 900px;
  height: 500px;

}

.image-wrapper img {
  object-fit: cover;
  height: 100%;
}

/*Company CSS*/
/*Slider CSS*/




.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider-wrapper {
  display: flex;
  overflow: hidden;
  gap: 10px;
  height: 205px;
  margin-top: 80px;
}

.slider-item {
  width: 360px;
  height: 205px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  perspective: 1000px;
  border-right: 0.5px solid black;

}

.slider-item:last-child {
  border-right: none;
}

.slide-media {
  padding-right: 12px;
}

.slide-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #575855;
  width: 75px;
  cursor: pointer;
}

.slide-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.circle-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  width: 54px;
  height: 54px;
  /* So it starts at the top (0 degrees) */
}

.circle-path {
  stroke-dasharray: 113;
  /* 2 * π * r (≈ 2 * 3.14 * 18) */
  stroke-dashoffset: 113;
  animation: draw-circle 1s forwards;
}

@keyframes draw-circle {
  0% {
    stroke-dashoffset: 113;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  /* Adjust as needed */
  height: 16px;
}

/*Slider CSS*/


/*History CSS*/
.history-slider-wrapper {
  display: flex;
  overflow: hidden;
  gap: 10px;
  position: relative;
}

.history-slider-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 82%;
  height: 1px;
  background-color: black;
  margin-top: 4px;
  transition: width 0.3s ease;
  left: 57px;
  top: 23px;
}

.history-button {
  border: none;
  width: 20px;
  padding: 10px 10px;

}

.history-slider-item {
  width: 360px;
  height: 130px;
  /* background-color: #f2f2f2; */
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  border-radius: 8px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  perspective: 1000px;
}

.year {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.content {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #575855;
  width: 200px;
  padding-top: 10px;
}

.history-slider-item .slide-circle {
  justify-content: flex-start;
}

.history-slider-wrapper .circle-wrapper .year {
  transition: border-radius 0.1s ease-in, box-shadow 0.1s ease-in;
}

.history-slider-wrapper .circle-wrapper:hover .year {
  background-color: #000000;
  border-radius: 54px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}


/*History CSS*/
/*Portfolio CSS*/
.portfolio-full-bg {

  background-color: #E3E1D9;
  padding: 80px 0;
}

.portfolio-list-wrapper {
  display: flex;
  justify-content: space-around;
}

.portfolio-list-wrapper div {
  width: 25%;
  margin-right: 10px;
  border-right: 0.5px solid #000000;
}

.portfolio-list-wrapper div:last-child {
  border-right: none;
}

.portfolio-items {
  list-style: none;
}

.portfolio-items li {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #575855;

}

.list-circle {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 25px;

}

/*Portfolio CSS*/
/*Footer CSS*/
.footer_wrapper {
  background: url(/test.png) no-repeat;
  background-size: 100% 100%;
  height: 486px;
}

@media (max-width: 768px) {
  header {
    justify-content: flex-start !important;
    gap: 50px;
  }

  .animation-logo {
    width: 7.5rem;
    top: 25px;
    right: 35px;

  }

  .company-text-wrapper {
    width: 100%;
    margin-left: 15px;
    top: 50px;
    position: relative;
    z-index: 100000;
    column-count: 2;
}
.image-wrapper {
  position: static;  
  width: 900px;
  height: 330px;

}
  .slider-wrapper {
    flex-wrap: wrap;
    overflow: initial;
    height: 500px;
    margin-left: 15px;
    margin-top: 20%;
  }

  .slider-item:nth-child(2) {
    border-right: none;
  }

  .hero-wrapper {
    background-position: center;
    height: 400px;
    /* Add or override other styles here */
  }

  .bio-text-wrapper {
    flex-wrap: wrap;
  }

  .company-wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
  }
}

@media (max-width: 480px) {
  .bio-wrapper {
    flex-wrap: wrap;
    justify-content: center;

  }

  .bio-basic {
    display: flex;
    padding-top: 40px;
  }

  .company-text-wrapper {
    /*top: 48%;*/
    column-count: unset;

  }

  .slider-wrapper {
    flex-direction: column;
    height: 900px;
  }

  .slider-item {
    border-right: none;

  }

  .portfolio-list-wrapper {
    flex-direction: column;
    margin-left: 10%;
    gap: 15px;
  }

  .portfolio-list-wrapper div {
    width: 35%;
    margin-bottom: 5px;
    border-right: none;
    border-bottom: 0.5px solid #000000;
    padding-bottom: 15px;
  }

  .portfolio-list-wrapper div:last-child {
    border-bottom: none;
  }

  .footer-content {
    margin: 0 auto;
    text-align: center;
  }
}