.video-gallery-wrapper {
    padding: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.video-thumbnail {
    cursor: pointer;
    overflow: hidden;
    /* aspect-ratio: 16 / 9; */
    position: relative;
}

.video-frame {
    width: 100%;
    height: auto;
    border: none;
    position: relative;
    z-index: -10;
}

.playIcon {
    position: absolute;
    bottom: 45%;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Popup styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    /* max-width: 90%; */
    /* width: 800px; */
    /* aspect-ratio: 16 / 9; */
    /* background: #000; */
    display: flex;
    /* overflow: hidden; */
    height: 100%;
}

.popup-slider {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.popup-slide {
    flex: 0 0 100%;
}

.popup-video {
    width: 100%;
    height: 100%;
    border: none;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.popup-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}

.popup-nav.prev {
    left: 10px;
}

.popup-nav.next {
    right: 10px;
}

/*Accordion CSS */
.accordion-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    width: 100%;
    background: #EDECE9;
    padding: 25px 20px;
    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    transition: background 0.3s;
    position: relative;
}

.accordion-header-open {
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    transition: background 0.3s;
    position: relative;
}


.toggle-button.rotated {
    transform: rotate(45deg);
    font-size: 2rem;
    line-height: 1;
    font-weight: 100;
}

.toggle-button {
    /* position: absolute;
    right: 60px; */
    display: inline-block;
    transition: transform 0.3s ease-in;
    font-size: 2rem;
    line-height: 1;
    font-weight: 100;
}



.accordion-header:hover {
    background: #fff;
}

.accordion-body {
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-content {
    padding: 16px 20px;
    background: #fff;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

.universe-title {
    position: relative;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin: 1rem 0;
    color: #363636;
}

/* .universe-title::before,
.universe-title::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #000;
    position: relative;
    vertical-align: middle;
}

.universe-title::before {
    margin-right: 15px;
} */
/* 
.universe-title::after {
    margin-left: 15px;
} */

.universe-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.universe-image-item {
    width: 100%;
    /* max-width: 360px; */
    height: auto;
}

.universe-subtitle {
    color: #2b2b2b80;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
}

.accordion-content-item {
    max-width: 720px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    color: #363636;
}

.universe-item {
    display: flex;
    flex-direction: column;
    width: 32%;
    color: #2b2b2b;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    padding-bottom: 20px;
    text-decoration: none;
    transition: box-shadow 0.3s, border-color 0.3s, color 0.3s, background-color 0.3s, opacity 0.3s;
}

/* 
.universe-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #e7e7e7;

    color: #000;
    background-color: #f9f9f9;
} */

.read-history {
    position: relative;
    margin-top: 30px;
    padding: 5px 0;
    color: #000;
    border: none;
    background-color: transparent;
    width: 115px;
    overflow: hidden;
}

/* Pseudo-element for animated border */
.read-history::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
    transition: width 0.4s ease;
}

/* On hover, animate border from left to right */
.read-history:hover::after {
    width: 0%;
}


.accordion-title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 300px;
    height: 52px;
}

.universe-item-title {
    position: relative;
    z-index: 2;
    transition: transform 0.4s ease;
    font-weight: 500;
    font-size: 24px;
    transform: translate(0, 0);
    display: flex;
    padding-top: 10px;
}

.accordion-bg {
    position: absolute;
    top: 50%;
    left: 56%;
    width: 71px;
    height: 52px;
    transform: translate(-50%, -50%) translateX(0);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}

/* Hover animation: title moves right, bg moves left + fades in */
.accordion-header:hover .universe-item-title {
    transform: translateX(30px);

}

.accordion-header:hover .accordion-bg {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(-30px);
}


.test-wrapper {
    max-width: 1400px;
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 15px auto;
    justify-content: center;
}

.test-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
}