.video-gallery-wrapper {
    padding: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.video-thumbnail {
    cursor: pointer;
    overflow: hidden;
    /* aspect-ratio: 16 / 9; */
    position: relative;
}

.video-frame {
    width: 100%;
    height: auto;
    border: none;
    position: relative;
    z-index: -10;
}

.playIcon {
    position: absolute;
    bottom: 45%;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Popup styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    max-width: 90%;
    width: 800px;
    aspect-ratio: 16 / 9;
    background: #000;
    display: flex;
    overflow: hidden;
}

.popup-slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.popup-slide {
    flex: 0 0 100%;
}

.popup-video {
    width: 100%;
    height: 100%;
    border: none;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.popup-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}

.popup-nav.prev {
    left: 10px;
}

.popup-nav.next {
    right: 10px;
}

/*Accordion CSS */
.universe-title {
    text-align: center;
    padding-bottom: 30px;
}

.accordion-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    width: 100%;
    background: #f3f3f3;
    padding: 25px 20px;
    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: background 0.3s;
    position: relative;
}

.toggle-button {
    position: absolute;
    right: 60px;

}



.accordion-header:hover {
    background: #e7e7e7;
}

.accordion-body {
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-content {
    padding: 16px 20px;
    background: #f3f3f3;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

.universe-title {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.universe-title::before,
.universe-title::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #000;
    position: relative;
    vertical-align: middle;
}

.universe-title::before {
    margin-right: 15px;
}

.universe-title::after {
    margin-left: 15px;
}

.universe-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.universe-image-item {
    width: 100%;
    max-width: 360px;
    height: auto;
}

.universe-subtitle {
    color: #2b2b2b80;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
}

.accordion-content-item {
    max-width: 720px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.universe-item {
    display: flex;
    flex-direction: column;
    color: #2b2b2b;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    padding-bottom: 20px;
    text-decoration: none;
    transition: box-shadow 0.3s, border-color 0.3s, color 0.3s, background-color 0.3s, opacity 0.3s;
}

.universe-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #e7e7e7;
    color: #000;
    background-color: #f9f9f9;
}

.read-history {
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    border: none;

}

.read-history:hover {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}

.test-wrapper {
    max-width: 1400px;
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 15px auto;
    justify-content: center;
}

.test-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}