.bio-wrapper, .bio-text-wrapper {
    display: flex;
    justify-content: flex-start;
}

.bio-text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    width: 455px;
    color: #363636;
    margin-right: 12%;
}

.bio-name {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;

}

.bio-position {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .bio-text-wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .bio-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 80px;
    }

    .bio-section {
        background-color: #fff;
        margin-top: 100px;
    }

    .bio-basic {
        display: flex;
        padding-top: 40px;
    }

    .bio-wrapper, .bio-text-wrapper {
        display: flex;
        justify-content: center;
    }

    .bio-text {
        margin: 0 auto;
        margin-right: 3%;
        margin-left: 10%;
    }
}