.bio-wrapper, .bio-text-wrapper {
    display: flex;
    justify-content: flex-start;
}

.bio-text-wrapper {
    width: 70%;
}

/* .bio-text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    width: 455px;
    color: #363636;
    margin-right: 3%;
} */

.bio-name {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;

}

.bio-position {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    padding-bottom: 30px;
}

@media (max-width: 910px) {
    .bio-text-wrapper {
        width: 70%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;

    }

    .bio-basic {
        display: flex;
        justify-content: space-between;
        margin-right: 7%;
    }
}

@media (max-width: 768px) {
    .bio-text-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 90px;
        gap: 20px;
    }

    .bio-basic {
        display: block;
    }

    .avatar {
        /* width: 100%;
        height: auto; */
    }
}

@media (max-width: 610px) {
    .bio-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 80px;
    }

    .bio-wrapper .w-30, .bio-text-wrapper {
        width: 100%;

    }

    .bio-wrapper .w-30 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bio-text-wrapper {
        padding-left: 30px;
    }
}



@media (max-width: 480px) {
    /* .bio-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 80px;
    }

    .bio-wrapper .w-30, .bio-text-wrapper {
        width: 100%;

    }

    .bio-wrapper .w-30 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bio-text-wrapper {
        padding-left: 30px;
    } */

    .bio-section {
        background-color: #fff;
        margin-top: 100px;
    }

    .bio-basic {
        display: flex;
        padding-top: 40px;
        width: 100%;
        justify-content: space-between;
    }

    .bio-wrapper, .bio-text-wrapper {
        display: flex;
        justify-content: center;
    }

    .bio-text {
        margin: 0 auto;
        margin-right: 2%;
    }
}