.bioWrapper, .bioTextWrapper {
    display: flex;
    justify-content: flex-start;
}

.bioTextWrapper {
    width: 70%;
}


.bioName {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;

}

.bioPosition {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    padding-bottom: 30px;
}

@media (max-width: 910px) {
    .bioTextWrapper {
        width: 70%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;

    }

    .bioBasic {
        display: flex;
        justify-content: space-between;
        margin-right: 7%;
    }
}

@media (max-width: 768px) {
    .bioTextWrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 90px;
        gap: 20px;
    }

    .bioBasic {
        display: block;
    }

}

@media (max-width: 610px) {
    .bioWrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 80px;
    }

    .bioWrapper .w-30, .bioTextWrapper {
        width: 100%;

    }

    .bioWrapper .w-30 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bioTextWrapper {
        padding-left: 30px;
    }
}



@media (max-width: 480px) {

    .bioSection {
        background-color: #fff;
        margin-top: 100px;
    }

    .bioBasic {
        display: flex;
        padding-top: 40px;
        width: 100%;
        justify-content: space-between;
    }

    .bioWrapper, .bioTextWrapper {
        display: flex;
        justify-content: center;
    }

    .bioText {
        margin: 0 auto;
        margin-right: 2%;
    }
}