.companyWrapper {
    display: flex;
    min-height: 535px;

}

.companyText {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    color: #363636;
    padding-top: 10px;
    padding-right: 50px;

}

.imageWrapper {
    position: absolute;
    right: 0;
    width: 65%;
    height: 500px;

}

.imageWrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 1732px) {
    .imageWrapper {
        width: 67% !important;

    }
}

@media (max-width: 1600px) {
    .imageWrapper {
        width: 69% !important;

    }
}

@media (max-width: 1460px) {
    .companyTextWrapper {
        margin-left: 25px;
    }
}

@media (max-width: 1260px) {
    .imageWrapper {
        width: 700px !important;
        position: relative;
    }
}

@media (max-width: 930px) {
    .companyTextWrapper {
        width: 100%;
        margin-left: 15px;
        top: 50px;
        position: relative;
        z-index: 10;

    }

    .countedColum {
        column-count: 2;
    }

    .companyWrapper {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        height: auto;
    }

    .imageWrapper {
        position: static;
        width: 900px !important;
        height: 330px;

    }

    .imageWrapper img {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .companyWrapper {
        background-color: #fff;
        position: relative;
    }

    .companyTextWrapper {
        column-count: unset;
        margin-left: 30px;

    }

    .countedColum {
        column-count: 1;
    }

}