.company-wrapper {
    display: flex;
    min-height: 535px;

}

.company-text {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    color: #363636;
    padding-top: 10px;
    padding-right: 50px;

}

.image-wrapper {
    position: absolute;
    right: 0;
    width: 70%;
    height: 500px;

}

.image-wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (min-width: 1910px) {
    .image-wrapper {
        width: 65%;
    }
}

@media (max-width: 1730px) {
    .image-wrapper {
        width: 67%;

    }
}

@media (max-width: 1600px) {
    .image-wrapper {
        width: 69%;

    }
}

@media (max-width: 1460px) {
    .company-text-wrapper {
        margin-left: 30px;
    }
}

@media (max-width: 1260px) {
    .image-wrapper {
        width: 700px;
        position: relative;
    }


}

@media (max-width: 930px) {
    .company-text-wrapper {
        width: 100%;
        margin-left: 15px;
        top: 50px;
        position: relative;
        z-index: 10;

    }

    .counted-colum {
        column-count: 2;
    }

    .company-wrapper {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        height: auto;
    }

    .image-wrapper {
        position: static;
        width: 900px;
        height: 330px;

    }

    .image-wrapper img {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .company-wrapper {
        background-color: #fff;
        position: relative;
    }

    .company-text-wrapper {
        column-count: unset;
        margin-left: 30px;

    }

    .counted-colum {
        column-count: 1;
    }

}